<h1>
	This is the secret page!
</h1>

<p>
	You found me!
</p>

<img src="https://babbletop.com/wp-content/uploads/2017/08/Trump-15-examples-of-embarrassment-Main-picture.jpg" />

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>